body {
    margin: 0;
}
.main {
    margin: auto;
    width: 400px;
    font-size: 18px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.box {
    padding: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.box:hover {
    background-color: tomato;
}